@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: white;
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(36, 36, 36);
}

.contact-list, .contact-buttons{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    margin: 20px auto;
}
    .cell{
        background-color: rgb(80, 80, 80);
        margin: 1px;
        padding: 5px
    }
        .big-cell{
            font-size: 1.2em;
            color:rgb(136, 247, 255)
        }
    .btn{
        background-color: darkgrey;
        overflow: 0;
        outline-style: none;
        border: 1px solid black;
    }
        .btn:hover{
            cursor: pointer;
        }
        .btn:active{
            background-color: rgb(105, 105, 105);
        }
    .button{
        width: 90%;
        margin: auto;
    }
        .cancel-update{
            margin: 20px auto;
        }
        .center-button{
            display: flex;
            width: 100%;
        }

.invisible-add{
   display: none;
}
.invisible-update{
    display: none;
}

.update-form-1{
    display: block;
    background-color: cornflowerblue;
    width: 40%;
    border-radius: 5px;
    margin: auto;
}
    .text-update{
        text-align: center;
        padding: 10px;
    }

.add-contact-form{
    background-color: cornflowerblue;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    margin: auto;
}
    .text-enter{
        padding: 20px 5px 5px 5px;
        font-size: 20px;
    }
    .input{
        z-index: 0;
        color: black;
    }
    .final-step-buttons{
        margin: 20px auto;
        width: 75%;
    }
        .final-button{
            width: 40%;
        }

@media screen and (max-width: 800px){
    .contact-list, .contact-buttons{
        width: 75%;
    }

    .add-contact-form{
        width: 60%;
    }
}

@media screen and (max-width: 400px){
    .contact-list, .contact-buttons{
        width: 96%;
        margin: 20px auto;
    }

    .add-contact-form{
        width: 90%;
    }
}