@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    font-family: Open Sans;
    color: black;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.main-header{
    background-color: black;
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.main-list{
    margin: 0;
    background-image: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
    display: flex;
    width: 100%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@keyframes bg-animation{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

.main-list a{
    background-color: black;
    padding: 3em;
    margin: 1em;
    width: 25%;
    text-align: center;
    color: white;
    font-size: 1.3em;
    transition-duration: 200ms;
    text-decoration: none;
}
    .main-list a:hover{
        background-color: rgb(31, 31, 31);
        cursor: pointer;
    }

.link{
    color: white;
    width: 98%;
    margin: 0 auto;
    text-align: end;
}