@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: white;
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(36, 36, 36);
}

.contact-list, .contact-buttons{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    margin: 20px auto;
}
    .cell{
        transition-duration: 200ms;
        background-color: rgb(65, 65, 65);
        margin: 1px;
        padding: 5px
    }
        .big-cell{
            font-size: 1.2em;
            color:rgb(136, 247, 255)
        }
        .hover-cell:hover{
            transition-duration: 200ms;
            background-color: rgb(54, 54, 54);
            cursor: pointer;
        }
    .btn{
        border-radius: 2px;
        font-size: 100%;
        padding: 2px;
    }
        .btn:hover{
            cursor: pointer;
        }
    .button{
        width: 90%;
        margin: auto;
        border: 1px solid white;
        background-color: transparent;
    }
        .button:active{
            background-color: black;
        }
        .cancel-update, .cancel-remove{
            margin: 20px auto;
        }

.invisible-add, .invisible-update, .invisible-form, .invisible-remove{
   display: none;
}

.remove-form{
    display: block;
    background-color: cornflowerblue;
    width: 40%;
    border-radius: 5px;
    margin: auto;
}

.update-form-1{
    display: block;
    background-color: cornflowerblue;
    width: 40%;
    border-radius: 5px;
    margin: auto;
}
    .text-update{
        text-align: center;
        padding: 10px;
    }

.add-contact-form{
    background-color: cornflowerblue;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    margin: auto;
}
    .text-enter{
        padding: 20px 5px 5px 5px;
        font-size: 20px;
    }
    .input{
        z-index: 0;
        color: black;
    }
    .final-step-buttons{
        margin: 20px auto;
        width: 75%;
    }
        .final-button{
            width: 40%;
            background-color: darkgrey;
            border: 1px solid black;
        }
            .final-button:active{
                background-color: rgb(95, 95, 95);
            }
    .flexbox-buttons{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

.update-text-visible, .update-phone-visible{
    display: block;
    width: 100%;
}
    .update-input-name, .update-input-phone{
        display: block;
        width: 80%;
        margin: 20px auto;
    }

@media screen and (max-width: 800px){
    .contact-list, .contact-buttons{
        width: 75%;
    }

    .contact-buttons{
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
    }

    .button{
        margin: 10px auto;
    }

    .add-contact-form, .update-form-1, .remove-form{
        width: 60%;
    }
}

@media screen and (max-width: 400px){
    .contact-list, .contact-buttons{
        width: 96%;
        margin: 20px auto;
    }

    .add-contact-form, .update-form-1, .remove-form{
        width: 90%;
    }
}